div(class="card z-depth-1")
	div(class="card-image waves-effect waves-block waves-light")
		img(class="activator" src=person.image)
		span(class="card-title")=person.name
	div(class="card-content")
		p(class="truncate")=person.job
	div(class="card-reveal")
		span(class="card-title")=person.name
		p=person.job
		//- p=person.bio
		div
			each tag in person.tags
				div(class="chip") ##{tag}
	//- div(class="card-action")
		a(href="#") Look at #{person.name}'s LinkedIn
