div(class="card z-depth-1")
	div(class="card-image waves-effect waves-block waves-light")
		img(src=person.image)
		span(class="card-title")=person.name
	div(class="card-content")
		p(class="truncate")=person.job
		p=person.company
	div(class="card-reveal")
		span(class="card-title" style="pointer-events:none;")=person.name
		p=person.bio
		each tag in person.tags
			div(class="chip") ##{tag}
		p
		a(href="https://www.linkedin.com/") Look at #{person.name}'s LinkedIn
